################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyMassage.Backend/obj
/MyMassage.Backend/bin
/MyMassage.Backend/.vscode
